@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Cookie&display=swap'); 
 /* Reset */
 html, body, div, h1, h2, h3, h4, h5, h6, p, a,
 img, li, aside, footer, nav, section {
         margin: 0;
         padding: 0;
         border: 0;
         font-size: 100%;
         font: inherit;
 }

body {
  background-color: #6b778d;
  font-family: Cookie; 
}

h1, h2, h3, h4, h5, h6 {
  color: #ff6768;
  font-family: "Alex Brush";
}

nav {
  background-color: #6bc5d2;
  border-bottom: 5px solid #105e62;
  font-family: "Alex Brush";
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 2px;
  display: inline;
}

nav a {
  padding: 6px 20px;
  display: inline-block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
}

nav a:hover {
  background-color:#b5525c;
}

.hero {
  height: 600px;
  background: url("../images/hero.jpg") no-repeat center top;
  background-size: cover;
}

.hero h1 {
  color: #105e62;
  font-size: 5em;
}

.hero h2 {
  color: #105e62;
  margin-bottom: 20px;
  font-size: 2em;
}

.hero p {
  color: #17223b;
  font-size: 1.25em;
}

.hero-text {
  text-align: center;
}

.hero-text p {
  font-size: 2em;
  color: #105e62;
}

.grid-container {
  display: grid;
  grid-template-columns: 75% auto;
}

.drinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drinks h2 {
  font-size: 3em;
  margin: 5px;
}

.drinks .head {
  font-size: 2em;
}

.drinks .item {
  border-top: 2px dotted #ff6768;
  display: block;
  padding-top: 10px;
  margin-bottom: 60px;
}

.drink p {
  font-size: 2em;
}

.drinks img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 20px;
  float: left;
}

.item p {
  font-size: 1.5em;
}

.sidebar {
  background-color: #d2fafb;
  font-size: 1.5em;
}

.sidebar h2 {
  font-size: 2em;
  text-align: center;
  margin: 5px 0;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin-top: 50px;
}

.sidebar ul li:first-child {
    margin-top: 0;
}

footer {
  background-color: #6bc5d2;
  border-top: 5px solid #105e62;
  height: 75px;
}

footer p {
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

footer ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer li {
  display: inline-block;
}

footer i {
  color: white;
  padding: 2px 10px;
}

footer a:hover{
  background-color: #ff6768;
}

